@import "@/settings.scss";

/* theme color */
$--color-primary: $primary-color;
$--button-primary-color: #333333;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
