/*~~~ Global variables ~~~*/

$primary-color: #ffc332;
$secondary-color: #75b3ee;
$secondary-color-darker: #5c91c2;
$secondary-color-lighter: #acd7ff;
$tab-btn-height: 120px; // Because we are using flex box, this pixel is actually the greatest height a tab button could be (it will be stretch with the window)
$tab-btn-header-height: 140px;
$tab-header-height: 85px;
$tab-container-padding: 20px;
$tab-header-padding: ($tab-header-height - 40px)/2;
/* 40px is the size of the Element UI button */


/* Mixins */
@mixin pseudo-shadow() {
    background: transparent;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}